<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        h2, p {
            text-align: center;
        }
    </style>
</head>
<body>
<h2 th:text="${errorMessage}"></h2>
<p th:text="${errorDescription}"></p>
<p th:text="${errorResolution}"></p>
<a href="/">Sorry! Bad Request! Return to our bookshop</a>
</body>
</html>

